@import "../mixins/_mixins";

$jumbo:            52px;
$heading-1:        40px;
$heading-2:        33px;
$heading-3:        24px;
$heading-4:        22px;
$paragraph:        18px;
$paragraph-small:  16px;
$paragraph-tiny:   14px;
